ion-view(view-title="Find")
  ion-content.padding
    h1.text-center Find Ghost Runner
    br
    .text-center
      iframe(
        width="600"
        height="250"
        frameborder="0" 
        style="border:0; max-width: 100%;"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCUQv6UYVGpQO2Ds9nntjlka5VgeFmZFn8&q=Ghost+Runner"
        allowfullscreen
      )
      br
      br
      button.button.button-block.button-calm Play Sound
